#detailsPage {
  position: relative;
  left: 5vw;
  width: 90vw;
  min-height: 10vh;
  max-height: max-content;
}

#detailsContainer {
  width: 90vw;
  min-height: 10vh;
  max-height: max-content;
  display: flex;
  flex-direction: row;
}

#leftDetails {
  width: 60%;
  height: max-content;
  margin: 0;
  display: flex;
  flex-direction: row;
}

#left_1 {
  width: 20%;
}

#left_2 {
  width: 78%;
  margin: 5%;
}

#productImg {
  height: max-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productImg img {
  height: 80%;
  width: 80%;
  justify-self: center;
}

#mediaIcons {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mediaIcons span {
  font-size: larger;
  padding-left: 3%;
}

#rigthDetails {
  width: 37%;
  margin-left: 3%;
}

#productDetails {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#productName {
  width: 80%;
  font-size: x-large;
  word-wrap: break-word;
}

#productPrice {
  width: max-content;
  font-size: xx-large;
  font-weight: bold;
  word-wrap: break-word;
}

#register {
  font-size: x-large;
  font-weight: normal;
  color: red;
}

.bold {
  font-weight: bold;
}

#relacionados {
  display: flex;
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

#prelacionados {
  font-size: x-large;
  font-weight: bold;
  justify-content: center;
  display: flex;
}

#imgrelacionados {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 10px;
}

#relacionados img {
  height: 30vh;
  width: 30vh;
}
