.carousel-indicators {
  background-color: var(--color-text);
}

.carousel-indicators .active {
  background-color: var(--color-text-variant);
}

.carousel-control-prev-icon {
  background-color: var(--color-text-variant);
}

.carousel-control-next-icon {
  background-color: var(--color-text-variant);
}
