.hidden{
    display: none;
}
#productForm{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 1%; */

}

#productFormDiv{
    top:0vh;
    height: 100vh;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    /* flex-direction: column; */
    /* padding: 10vh 0%; */
    background-color: rgba(163, 160, 160, 0.9);
    width: 100vw;
}

#productForm div {
    width: 26vw;
    height: 8vh;
    /* margin: 0%; */
    margin-top: 1vh;
    margin-left:5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px black solid;
    border-radius: 20px;
    background-color: bisque;
    flex-direction: row;
}

#imgLabel{
    background-color: pink;
    border: 1px solid black;
    padding: 1%;
    text-transform: uppercase;
}

#newPRoductImg{
    display: flex;
    flex-direction: row;
}


#newPRoductImg img{
    height: 10vh;
    transform: scale(80%);
}



#catalogNewZone select{
    font-size: small;
    background-color: pink;
    border: 1px solid black;
    /* height: 100%; */
}

#optionsButtons button{
    margin: 5% 15%;
    padding: 2%;
    background-color: pink;
    border:1px black solid
}

#productForm div input{
    height: 2vh;
   margin: 0% 1%;
   width: 30%;
}
#productForm div label{
   margin: 0% 2%;
}
#productForm div span{
    color: red;
    padding: 0%;
 }