.hidden{
    display: none;
}
#productForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 1%; */

}

#productForm div {
    width: 20vw;
    height: 10vh;
    margin-top: 3vh;
}

#imgLabel{
    background-color: pink;
    padding: 10%;
    text-transform: uppercase;
}

#newPRoductImg{
    display: flex;
    flex-direction: row;
}


#newPRoductImg img{
    height: 8vh;
}