.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonContainer{
    display: flex;
    gap: 10vw;
}

.button{
    height: 4rem;
    width:12rem;
    border-radius: 10px;
    background-color: rgb(240, 94, 250);
    font-size: 25px;
    font-weight: 700;
    border: 1px solid rgb(234, 99, 246);
    box-shadow: 7px 10px 28px 5px rgba(245, 88, 88, 0.24);
}

.button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}