.column_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
}

.row_log1 {
  margin-top: 9vh;
}

.row_log2 {
  margin-top: 3vh;
}

.row_log3 {
  margin-top: 3vh;
}

.cartinheader {
  margin-top: 13vh;
}

.ddlink {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  text-align: center;
  /* font-weight: bold;
  width: 30%;
  font-size: 100%; */
  text-decoration: none;
  background-color: white;
  color: black;
}

#searchInput {
  height: 5vh;
  width: 20vw;
  justify-self: center;
  border: 1px black solid;
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  margin-left: 10%;
  background-color: rgb(234, 234, 234);
}

#searchInput input {
  border: none;
  font-size: medium;
}

#searchInput button {
  color: white;
  background-color: gray;
  display: inline-flex;
  align-items: center;
}

.btn-group {
  margin-top: 14vh;
}

.headerbaja {
  cursor: pointer;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .btn-group {
    margin-top: 0vh;
  }
  .cartinheader {
    margin-top: 10vh;
    margin-bottom: 4vh;
  }
  .logo {
    height: 35vh;
  }
  .loginbutton {
    margin-bottom: 4vh;
  }
  #searchInput {
    width: 30vw;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  .logo {
    height: 25vh;
  }
  #searchInput {
    width: 45vw;
  }
}
