.footer {
  margin-top: 25%;
  width: 100%;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 35%;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
  .footer {
    margin-top: 25%;
  }
}
